#content {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      min-width: 60vw;
      /* min-width: 10px; */
      background-color: lightpink;
      position:absolute;
      left: 20vw;
      top: 5vh;
      min-height: 80vh;
      padding: 1vw;
    }
    @media(max-width: 1500px) {
      #content {
        width: 95vw;
        left: 1vw;
        font-size: 1.5rem;
      }
      input{
        font-size: 1.5rem;
      }
    }
    body{
      /* text-align: center; */
      align-items: center;
      background-color: aqua;
      background-image: url("img/bg.jpg");
      background-attachment: fixed;
      background-size: 640px 360px;
    }
    textarea{ 
      width: 98%;
      height: 98vh;
      /* height: fit-content; */
    }
    form{
      width: 100%
    }
    .formInput {
      width: 100%
    }
    select{
      width: 20%
    }
    #divGrupa{
      border-color: black;
      border-width: 2px;
      border-style: solid;
      padding: 2px;
      margin: 2px;
    }